
<html>
  {{template "header.tmpl.html"}}
<body>
{{template "nav.tmpl.html"}}
	<div class="wrap" style="margin-top:65px;">
		<div class="grid-4_xs-2-center">
				<a class="button-box red col" href="/list">Хочу встретить жену</a>
				<a class="button-box dark col" href="/list">Хочу встретить мужа</a>
		</div>
		<div class="contact_list grid">
			<div class="grid__col grid__col--1-of-2">
				<div class="list_item red">
					<div class="top">top</div>
					<div class="bottom">bottom</div>
				</div>			
			</div>
		<div class="grid__col grid__col--1-of-2">
			<div class="list_item dark">
					<div class="top">top</div>
					<div class="bottom">bottom</div>
				</div>	
			</div>
		</div>
	</div>

</body>
</html>
