
<html>
  {{template "header.tmpl.html"}}
<body>
	{{template "nav.tmpl.html"}}
<div class="container body-content">
		<div class="row">
			<div class="three columns card">
				<strong>Муслим Магамаев</strong>
				<div>Первый</div>
			</div>
			<div class="three columns card">Первый</div>
			<div class="three columns card">Second</div>
			<div class="three columns card">dddd</div>
		</div>
		<div class="row">
			<div class="three columns card">Первый</div>
			<div class="three columns card">Первый</div>
			<div class="three columns card">Second</div>
			<div class="three columns card">dddd</div>
		</div>
		<div class="row">
			<div class="three columns card">Первый</div>
			<div class="three columns card">Первый</div>
			<div class="three columns card">Second</div>
			<div class="three columns card">dddd</div>
		</div>
		<div class="row">
			<div class="three columns card">Первый</div>
			<div class="three columns card">Первый</div>
			<div class="three columns card">Second</div>
			<div class="three columns card">dddd</div>
		</div>

	</div>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
	    <div class="row body-content">
      <div class="one-half column">
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
      </div>
    </div>
  </div>


</body>
</html>
